* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px 75px;

  @include tablet-mobile {
    padding: 20px 10px;
  }
}

#bodycontainer {
  margin: 0 auto;
  max-width: 1568px;
}