$c-blue-magenta: #362e61;
$c-dark-blue: #012335;
$c-dark-cyan: #007276;
$c-light-blue: #00999d;
$c-white: white;

$ff-primary-bold: 'WorkSans-Bold';
$ff-primary-medium: 'WorkSans-Medium';
$ff-primary-semi-bold: 'WorkSans-SemiBold';